* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 2%;
}

input,
button {
  font-size: 1.2rem;
  outline: none;
}

h1.temperature {
  font-size: 8rem;
  font-weight: normal;
}

h2.temperature {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

p,
span {
  font-weight: 500;
}

/**************** LEFT ******************/

.primary {
  width: 30%;
  background: #1e213a;
  color: #a09fb1;
  padding-top: 1.5rem;
}

form.search {
  display: flex;
  width: 100%;
  margin-bottom: 8rem;
  justify-content: center;
}

.icon-search {
  width: 20px;
  position: relative;
  left: 2.3rem;
}

.search > input {
  width: 100%;
  padding: 0.8rem 3rem;
  padding-right: 0;
  background: none;
  border: 1px solid white;
  color: #a09fb1;
}

.search > button {
  background: #3c47e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  padding: 0 1rem;
  cursor: pointer;
  font-weight: 300;
  margin-left: 0.5rem;
}

.content {
  text-align: center;
}

h2.description {
  text-transform: capitalize;
  font-weight: 500;
}

.temperature {
  margin: 4rem 0;
  color: white;
}

.location-icon {
  width: 18px;
}

.state {
  margin: 4rem 0;
}

img.weather-icon {
  width: 200px;
}

.content:not(2) {
  color: #6e707a;
}

.content > div {
  margin: 2rem 0;
}

.date span:nth-child(2) {
  margin: 0 1rem;
}

/**************** RIGHT ******************/

.secondary {
  width: 70%;
  height: 100vh;
  background: #100e1d;
  color: white;
  padding: 1rem 0;
}

.secondary > .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.highlights h3 {
  display: block;
  width: 100%;
  font-weight: 500;
}

.box-highlights {
  background: #1e213a;
  margin: 1rem;
  width: 30rem;
  height: 12rem;
  padding: 2rem 0;
  text-align: center;
}

h1.info {
  margin-top: 1rem;
  font-size: 4rem;
  display: inline-block;
}

small {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  margin-left: 0.5rem;
}

small + h1 {
  margin-left: 3rem;
}

.min-today,
.min-today + small {
  color: #a09fb1;
}

footer {
  text-align: center;
}

footer p {
  display: inline-block;
}

footer a {
  color: white;
}

/**************** MEDIA QUERIES ******************/

@media screen and (max-width: 1540px) {
  .box-highlights {
    width: 22rem;
    height: 10rem;
    margin: 1.2rem;
    padding: 2rem 0;
  }
  .primary {
    width: 40%;
  }

  .secondary {
    width: 60%;
  }
}

@media screen and (max-width: 1360px) {
  .box-highlights {
    width: 18rem;
    height: 8rem;
    margin: 0.5rem;
    padding: 1rem 0;
  }

  h1.info {
    font-size: 3rem;
  }
}

@media screen and (max-width: 950px) {
  body {
    flex-direction: column;
  }

  .primary {
    width: 100%;
    height: 100vh;
  }

  .secondary {
    width: 100%;
    height: 100%;
  }

  form.search > input {
    width: 60%;
  }

  .box-highlights {
    width: 60%;
    height: 15rem;
    font-size: 200%;
    margin: 2rem 0;
    padding: 2rem 0;
  }

  h1.info {
    font-size: 4rem;
  }
}
